/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bootstrap";
@import "font-awesome";

#kn-title {
  width: 100%;
  text-align: center;
  margin: auto;
}
.container {
  margin: 41px 0;
  width: 100%;
}
.hero-unit {
  background: none;
  padding: 30px;
}
#navig{
  margin: 0px !important;
  left: 0px !important;
  background-color:       #000;
  text-align: center;
  height: 4em;
  padding:                0px;
  position:               fixed;
  bottom:                 0;
  width:                  100%;
  border-top:             .05em solid rgba(255,255,255,.33);
  -webkit-box-shadow:     0 -0.05em 0 rgba(0,0,0,0.9);
  background-image:       -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.15)), color-stop(0.5, rgba(255,255,255,.10)), color-stop(0.505, rgba(255,255,255,.0)), to(rgba(255,255,255,.0)));

  /* Nav item Example */
  .text-holder {
    width: 100%;
    position: absolute;
    top: -4.5em;
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    background: #fff;
    color: #000;
    line-height: 1.5em;
    display: none;
    a {
      width: auto;
      height: auto;
      border: 0 none;
      border-radius: none;
      display: inherit;
      position: static;
      margin: 0 10px 0 0;
    }
    .info-wrap {
      margin-left: 45px;
      padding: 5px;
    }
    > i {
      margin: 10px;
      float: left;
    }
    .mp3button {
      margin: 10px;
      z-index: 9898;
      position: absolute;
      i {
        font-size: 1.5em;
      }
    }
    p {
      text-align: left;
    }
  }
  #zoomer {
    display: none;
    position: fixed;
    top: 80px;
    right: 10px;
    border-radius: 5px;
    background: white;
    font-size: 4em;
    span {
      display: block;
      cursor: pointer;
      padding: 15px;
      i {
        font-size: 0.6em;
      }
    }
    #zoom-out {
      margin-top: 10px;
    }
  }
  a {
    margin:                 0 auto;
    width:                  3.5em;
    height:                 2.5em;
    position:               relative;
    border-radius:          .25em;
    -webkit-border-radius:  .25em;
    display:                inline-block;
    vertical-align:         middle;
    float: left;
    height: 100%;
  }

  a > strong{
    font-size:              .7em;
    color:                  #999;
    bottom:                 0;
    width:                  100%;
    text-align:             center;
    line-height:            1.5em;
    font-weight:            bold;
    -webkit-font-smoothing: antialiased;
    margin: -12px 0;
  }
  i {
    font-size: 2em;
    margin: auto;
    display: block;
    margin-top: 8px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  a::after,
  a::before{
    position:               absolute;
    content:                " ";
    top:                    -1em;
    left:                   0;
    right:                  0;
    bottom:                 0;

    -webkit-mask-position:  center center;
    -webkit-mask-repeat:    no-repeat;
    -webkit-mask-image:     url('target-2x.png');

    zoom:                   .5; /* Scales to 50% Size & has better rendering than transform */
  }

  /* Grey Icon */

  a::before{
    background-image:       -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#333));
    z-index:                1;
  }

  /* Icon Shadow */

  a::after{
    margin-top:             -.2em;
    background-color:       rgba(0,0,0,.75);
    z-index:                0;
  }

  /* Active Settings */

  a.active{
    background-color:       rgba(255,255,255,.10);
    height: 100%;
  }

  a.active > strong{
    color:                  #fff;
  }

  a.active::before{
    background:             -webkit-gradient(linear, 38% 0%, 60% 70%, from(#DDE9F0), color-stop(0.6, #79B2EC), color-stop(0.7, #2E91E5), to(#3FC5F8));
  }

  a.active::after{
    margin-top:             .2em;
  }
}
.side {
  display: none;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  #map_canvas {
    height: 100%;
  }
}
.modal-body {
  text-align: center;
  width: 90%;
}
.italic {
  font-style: italic;
}
#ajaxer {
  display: none;
  .bg {
    background: #000;
    opacity: 0.5;
    width: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wrapper {
    margin-top: 100px;
    font-style: italic;
    text-align: center;
    z-index: 9899;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    .inner {
      background: #fff;
      opacity: 1;
      padding: 25px;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      border-radius: 10px;
    }
  }
}
#kult .icon-arrow-right {
  position: absolute;
  right: 30px;
  font-size: 2.5em;
  padding: 15px;
  opacity: 0.5;
}
.modal.fade.in {
  top: 5%;
  margin: 0 0 0 0;
  width: 90%;
  left: 5%;
  height: 90%;
  .modal-body {
    max-height: none;
    max-width: 80%;
  }
  .modal-header {
    .close {
      height: 50px;
      width: 50px;
      font-size: 3.5em;
      padding: 0px;
      margin: -8px -14px;
      opacity: 1;
    }
  }
}
#mp3player {
  display: none;
}
